<!-- Delete confirmation modal -->
<div id="delete-group-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteGroup" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirm deletion</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <strong>{{object}}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger confirm">Delete</button>
  </div>
</div>