{% extends 'users.html' %}
{% block body %}
{% load tags %}
{% load staticfiles %}

{% url "users-list" as alist %}
{% url "users-detail" object as adetail %}

<h3 class="user-header">{{ object.first_name}} {{object.last_name}} ({{object.username}})
</h3>
{% if sudo or object.username == request.META.REMOTE_USER %}
<div class="badge-button">
  {% if object.portrait_full_name %}
    {% comment %}
      Only show the button for editing the badge crop if the user has a photo.
    {% endcomment %}
    <a href="" role="button" class="btn btn-info"
        onclick="showCurrentBadgeCrop(event)"
        title="View or edit the Badge photo crop">
        <span class="icon-user icon-white"></span>
    </a>
  {% endif %}
  {% if sudo %}
    <a href="{{settings.BADGE_URL}}{{object}}" target="_blank" role="button" class="btn btn-info" data-toggle="modal">Create badge</a>
  {% endif %}
</div>

<script type="text/javascript">
  function showCurrentBadgeCrop(ev) {
    ev.preventDefault();
    $.ajax({
      url: '{% url "users-detail" object.username %}',
      error: function() {
        alert('Error getting badge url');
      },
      success: function(data) {
        $('#badge-view').attr('src', data.portrait_badge_url);
        $('#badge-modal-view').modal('show');
      }
    });
  }

  var badgeEditW, badgeEditH, badgeIAS, badgeIASSelection,
      // the coordinates submitted when making a new badge crop
      badgeCropX1, badgeCropY1, badgeCropX2, badgeCropY2;

  function showNewBadgeCrop(ev) {
    ev.preventDefault();
    $.ajax({
      url: '{% url "users-detail" object.username %}',
      error: function() {
        alert('Error getting photo url');
      },
      success: function(data) {
        $('#badge-edit').attr('src', data.portrait_full_url);

        badgeIASSelection = {
        };
        var parts = data.portrait_badge_url.split('_');
        if (parts.length >= 4) {
          parts.splice(0, parts.length - 4);
          ['x1', 'y1', 'x2', 'y2'].forEach(function(name, idx) {
            badgeIASSelection[name] = parseInt(parts[idx], 10);
          });
        }
      }
    });
  }

  function submitNewBadgeCrop() {
    $.ajax({
      url: '{% url "users-badgecrop" object.username %}',
      type: 'post',
      data: {
        left: badgeCropX1,
        right: badgeCropX2,
        top: badgeCropY1,
        bottom: badgeCropY2
      },
      error: function() {
        alert('Error saving new badge crop');
      },
      success: function(data) {
        $('#badge-modal-edit').modal('hide');
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function() {
    /* The modal dialog for viewing the badge crop.
       Show the photo size on load, erase it when closing the dialog. */
    $('#badge-view').load(function() {
      $('#badge-view-dimensions').text('(' + this.width + 'x' +
          this.height + ')');
    });

    $('#badge-modal-view').on('hide', function() {
      // force the img's load() to fire next time we set the 'src'
      $('#badge-view').attr('src', '');
      $('#badge-view-dimensions').text('');
    });


    /* The dialog for editing the badge crop.
       Show the dialog when the full photo loads.
       Set the previous crop selection.
       Clean up when hiding the dialog.
       */
    $('#badge-edit').load(function() {
      badgeEditW = this.width;
      badgeEditH = this.height;
      $('#badge-edit-dimensions').text('(' + badgeEditW + 'x' +
          badgeEditH + ')');

      $('#badge-modal-edit').modal('show');
    });

    $('#badge-modal-edit').on('shown.bs.modal', function (e) {
      var displayWidth = document.getElementById('badge-edit').width,
          displayHeight = document.getElementById('badge-edit').height;
      var scale = badgeEditW / displayWidth;

      function updateCropInfo(img, selection) {
          $("#badge-crop-info").text("(" +
              Math.round(selection.width * scale) + "x" +
              Math.round(selection.height * scale) + ")");

          badgeCropX1 = Math.round(selection.x1 * scale);
          badgeCropY1 = Math.round(selection.y1 * scale);
          badgeCropX2 = Math.round(selection.x2 * scale);
          badgeCropY2 = Math.round(selection.y2 * scale);
      }

      badgeIAS = $('#badge-edit').imgAreaSelect({
        aspectRatio: '2:3',
        handles: true,
        instance: true,
        show: true,
        onSelectChange: updateCropInfo
      });

      if ('x1' in badgeIASSelection) {
        ['x1', 'y1', 'x2', 'y2'].forEach(function(k) {
          badgeIASSelection[k] = Math.round(badgeIASSelection[k]/scale);
        });
      } else {
        badgeIASSelection.x1 = 0;
        badgeIASSelection.x2 = 0;
        badgeIASSelection.y1 = 75;
        badgeIASSelection.y2 = 100;
      }
      badgeIASSelection.y2 = Math.min(badgeIASSelection.y2, displayHeight - 1);

      badgeIAS.setSelection(badgeIASSelection.x1, badgeIASSelection.y1,
          badgeIASSelection.x2, badgeIASSelection.y2);
      badgeIAS.update();

      updateCropInfo(null, badgeIAS.getSelection());
    });

    $('#badge-modal-edit').on('hide', function () {
      // force the img's load event to fire next time we show the dialog
      $('#badge-edit').attr('src', '');

      $('#badge-edit').imgAreaSelect({
        remove: true
      });
      $('#badge-edit-dimensions').text('');
      $('#badge-crop-info').text('');
    });
  });
</script>
{% endif %}
<div class="clear"></div>

<div class="modal hide fade" id="password-modal">
  <div class="modal-header">
    <h3>Change password{% if sudo %} (for user {{object.username}}) {% endif %}</h3>
  </div>
  <div class="modal-body">
    {% if sudo %}
        <a href="{% url "users-changepassword" object.username %}" id="sudo_change_password">SUDO: Change to a random password and send it via SMS</a>
    {% endif %}
    <div id="wrong-password-alert" class="alert alert-danger" style="display:none;"></div>
        <div id="password-length" class="alert alert-info">Password must be at least 10 characters long</div>
        <div id="password-character-groups" class="alert alert-info">Password must have characters from at least 3 character groups (a-z, A-Z, 0-9, special)</div>
        <div id="passwords-matching" class="alert alert-info" style="display:none;">Passwords don't match</div>
    {% if not sudo %}

        <label>Current password</label>
        <input type="password" id="password-current"></input>
    {% endif %}
    <br>
    <label>New password</label>
    <input type="password" id="password-new"></input>
    <label>Again</label>
    <input type="password" id="password-new-again"></input>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" id="password-cancel">Cancel</a>
    <a href="#" class="btn btn-warning" data-url="{% url "users-password" object.username %}" id="password-change" disabled>Save password</a>
  </div>
</div>

<div class="modal hide fade" id="portrait-modal">
  <div class="modal-header">
    <h3>Crop the image <span id="portrait-dimensions"></span></h3>
  </div>
  <div class="modal-body" id="portrait-preview">
    <img id="portrait-preview-crop" src=""></img>
  </div>
  <div class="modal-footer" id="portrait-footer">
    <span id="portrait-crop-info"></span>
    <a href="https://confluence.futurice.com/display/usup/Personal+ID+badge" target="_blank">What kind of picture can be used?</a>
    <a href="#" class="btn" data-dismiss="modal" id="portrait-cancel">Cancel</a>
    <a href="#" class="btn btn-primary" data-url="{% url "users-portrait" object.username %}" id="portrait-save">Save</a>
  </div>
</div>

<div class="modal hide fade" id="badge-modal-view">
  <div class="modal-header">
    <h3>Current badge crop <span id="badge-view-dimensions"></span></h3>
  </div>
  <div class="modal-body">
    <img id="badge-view" src=""></img>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">This is OK</a>
    <a href="#" class="btn btn-primary" data-dismiss="modal"
      onclick="showNewBadgeCrop(event)">
      Make a New Crop
    </a>
  </div>
</div>

<div class="modal hide fade" id="badge-modal-edit">
  <div class="modal-header">
    <h3>Crop the photo for the badge
      <span id="badge-edit-dimensions"></span></h3>
  </div>
  <div class="modal-body">
    <img id="badge-edit" src=""></img>
  </div>
  <div class="modal-footer">
    <span id="badge-crop-info"></span>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary" onclick="submitNewBadgeCrop()">Save</a>
  </div>
</div>

<table class="table" id="userform">
    <div id="portrait-holder">
        <img src='{{ object.portrait_thumb_url }}' onerror='this.src="{% static "img/default_portrait.jpeg" %}";' alt="{{object.username}} portrait" id="portrait"></img>
        {% if sudo or object.username == request.user.username %}
          <input type="file" id="portrait-upload-file"/>
          <i id="portrait-upload" title="upload a new image" class="icon-wrench"></i>
        {% endif %}
        <a id="portrait-download" title="download full size image" class="icon-circle-arrow-down" target="_blank" href='{{ object.portrait_full_url }}' {% if '/None' in object.portrait_full_url %} style="visibility:hidden;" {% endif %}></a>
        <span id="portrait-upload-time" title='{{ object.picture_uploaded_date|date:"H:i:s" }}'>{{ object.picture_uploaded_date|date:"Y/m/d" }}</span>
    </div>

	<tr>
        {% include "common/xeditable.html" with field="first_name" full="First Name" api=adetail %}
	</tr>

	<tr>
        {% include "common/xeditable.html" with field="last_name" full="Last Name" api=adetail %}
	</tr>

	<tr>
		<td class="infofield">Username:</td>
		<td id="profile-username">{{object.username}}</td>
	</tr>

	<!--tr>
        {% include "common/xeditable.html" with field="title" full="Title" api=adetail %}
	</tr-->

	<tr>
        {% include "common/xeditable.html" with field="phone1" full="Phone 1" api=adetail %}
	</tr>

	<tr>
        {% include "common/xeditable.html" with field="phone2" full="Phone 2" api=adetail %}
	</tr>

	<tr>
    <!--
        {% include "common/xeditable.html" with field="github" full="GitHub username" api=adetail %}
      -->
	</tr>

	<!--tr>
        {% include "common/xeditable.html" with field="flowdock_uid" full="Flowdock UID" api=adetail %}
	</tr-->

	<!--tr>
        {% include "common/xeditable.html" with field="planmill_uid" full="PlanMill UID" api=adetail %}
	</tr-->

	<!--tr>
        {% include "common/xeditable.html" with field="skype" full="Skype" api=adetail %}
	</tr-->

    <tr>
        {% include "common/xeditable.html" with field="email" field_value="get_email_editable" full="Email" api=adetail %}
    </tr>

    <!--tr>
        {% include "common/xeditable_search.html" with field="aliases" full="Aliases" api=adetail %}
    </tr-->

    <tr>
        {% include "users/ssh_keys.html" with user=object settings=settings request=request sudo=sudo only %}
    </tr>

<!--
    <tr>
        <td class="infofield">Supervisor:</td>
        <td>
            <input type="hidden" class="bigdrop" id="xsupervisor" style="width:300px" value="{{object.supervisor_id|default:''}}" data-initial="{{object.supervisor.username}}"/>
            {% if object.supervisor_id %}
                <a href="{% url "users_detail" object.supervisor.username %}" style="padding-left: 10px;">{{object.supervisor}}</a>
            {% endif %}
        </td>
    </tr>
-->

	<tr>
    <!--{% include "common/xeditable.html" with field="hr_number" full="HR number" api=adetail %}-->
	</tr>

    <tr>
        <td class="infofield">Status:</td>
        <td>
            <div class="user-status-container">
                <span href="#" id="status" class="{%if sudo%}xeditable{%else%}nosudo{%endif%} status-{{object.get_status}}"
                    data-type="select"
                    data-url="{% url "users-status" object.username %}"
                    data-value="{{object.get_status}}"
                    data-title="Status"
                    data-source="{{object.status_choices_xeditable|safe}}">
                    {{object.get_status|capfirst}}
                </span>
            </div>
        </td>
    </tr>

    <tr>
        {% include "common/xeditable.html" with field="google_status" full="Google Status" api=adetail  datatype="select" source=object.google_status_choices_xeditable|safe %}
    </tr>

	<tr>
        {% include "common/xeditable.html" with field="active_in_planmill" full="Active in Planmill" api=adetail datatype="select" source=object.planmill_status_choices_xeditable|safe value=object.active_in_planmill|xeditable_value setvalue=1 %}
	</tr>

	<tr>
		<td class="infofield">Password expires:</td>
        <td class="{% warncolor object.password_expires_date 0 30 %}">
            <span class="password_expiration_date">
                {{object.password_expires_date|date:"Y/m/d"}}
            </span>
            {% editable object 'password' as password %}
            {% if password %}
                <a href="#password-modal" role="button" class="btn btn-info btn-small" data-toggle="modal">Change password</a>
            {%endif%}
        </td>
	</tr>

    {% if sudo %}
    <tr>
        <td>Disable on date:</td>
        <td><a href="#" id="suspended_date" class="xeditable" data-type="date" data-url="{% url "users-detail" object.username %}" data-value="{{object.suspended_date|date:"Y-m-d"}}" data-title="Suspended date" data-format="yyyy-mm-dd">{{object.suspended_date|date:"Y-m-d"}}</a></td>
    </tr>
    {% endif %}

    <tr>
        <td class="infofield"></td>
        <td>
            <a class="btn btn-info" href="{{object.audit_url}}">Audit Log</a>
        </td>
    </tr>
</table>

<div class="row-fluid">
    <div class="span4 marcopolofield"
        data-parent="users"
        data-child="groups"
        data-parentid="{{object.username}}"
        data-field="username"
        data-searchurl="{% url "groups_json" %}"
        data-searchdetail="groups_detail">

		<h4>Groups:</h4>
		<h4 style="color:red">Mailing list management moved to groups.google.com</h4>
		<div class="input-prepend">
		  	<span class="add-on">+</span>
			<input type="text" class="search" />
		</div>
		<table class="table table-striped"></table>
	</div>

    <div class="span4 marcopolofield"
        data-parent="users"
        data-child="projects"
        data-parentid="{{object.username}}"
        data-field="username"
        data-searchurl="{% url "projects_json" %}"
        data-searchdetail="projects_detail">

		<h4>Projects:</h4>
		<div class="input-prepend">
		  	<span class="add-on">+</span>
			<input type="text" class="search">
		</div>
        <table class="table table-striped"></table>
	</div>

    <div class="span4 marcopolofield"
        data-parent="users"
        data-child="servers"
        data-parentid="{{object.username}}"
        data-field="username"
        data-searchurl="{% url "servers_json" %}"
        data-searchdetail="servers_detail">

		<h4>Servers:</h4>
		<div class="input-prepend">
		  	<span class="add-on">+</span>
			<input type="text" class="search">
		</div>
		<table class="table table-striped"></table>
	</div>

</div>

<div class="row-fluid">
    <div class="span6">
        <h4>Resources: <button class="btn btn-success resource-add">+</button></h4>
        <div class="resource-container"
            data-parent="users"
            data-field="username"
            data-parentid="{{object.username}}">
        </div>
    </div>
</div>
{% endblock %}
